body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/*container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/*header*/

.header {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    border-bottom: 1px solid #333333;
    align-items: center;

}

.header__logo-size {
    height: 28px;
}

/*navigation*/

.nav {
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
}

.nav__link {
    margin-left: 50px;
    color: #FFF;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity .1s linear;

}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}


/*intro*/

.intro {
    height: 750px;
    background: url("image/back.jpg") center no-repeat;
    background-size: cover;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 30px;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 65px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;

}

.intro__subtitle {
    font-size: 22px;
    margin-bottom: 60px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/*button*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 2px;
    font-size: 13px;
    color: #FFF;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear;
    text-align: center;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #dd3434;
}

.btn--long {
    min-width: 280px;
}

/*features*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}

.features__item {
    width: 33.33333%;
    padding: 0 40px;
    text-align: center;
    margin: 25px 0;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.features__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

/*team*/


.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team__name {
    margin-bottom: 8px;
    font-size: 22px;
    color: #2d3033;
}

.team__prof {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.team__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}


/*social*/

.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social_item {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-right: 4px;
    background-color: #fff;
    border: 1px solid #e8ecee;
    transition: background .1s linear;
}

.social_item:hover {
    background-color: #e8ecee;
}

.social_item:hover .social__icon {
    fill: #000;
}

.social--footer .social_item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social_item:hover {
    background-color: #fff;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;

    transition: fill .1s linear;
}

.social--footer .social__icon {
    fill: #fff;
}

/*Download*/

.download {
    margin: 90px 0;
    text-align: center;

}

.download__title {
    margin-bottom: 5px;
    color: #2d3033;
    font-weight: 300;
    font-size: 28px;
}

.download__text {
    font-size: 13px;
    color: #2d3033;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/*footer*/

.footer {
    padding: 70px 0;
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
}

.footer__block {
    width: 33.33333%;

    padding: 0 15px;
    text-align: center;
}

.footer__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}

/*Burger*/
.burger {
    padding: 9px 2px;
    display: none;
    background: none;
    border: 0;
    cursor: pointer;

}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
    z-index: 1;
    left: 0;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}


/*media*/

@media (max-width: 991px) {

    /*nav*/
    .nav {
        display: none;
    }

    /*burger*/
    .burger {
        display: block;
    }

    /*intro*/
    .intro__title {
        font-size: 40px;
    }
}


@media (max-width: 767px) {

    /*intro*/
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        margin-bottom: 30px;

        font-size: 16px;
    }


}